/* color palette from <https://github.com/vuejs/theme> */
:root {
  font-size: 10px;
  --color-white: #ffffff;
  --color-gray-300: #e0e0e0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-size: 1.4rem;
  font-family: 'Noto Sans JP Variable', sans-serif;
}

.inner {
  padding-left: 4rem;
  padding-right: 4rem;
}
